
.cartilla{
    background-color: #e1d6c2;
    padding: 1rem;
    border-radius: 20px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.cartilla img{
    width: 100%;
    object-fit: cover;
    height: 300px;

    border-radius: 20px;
}

.nombre{
    display: flex;
    justify-content: center;
}

.contenedor_botones{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}