
.ficha{
    display: flex;
    align-items: center;
    background-color: var(--color-mascota);
    border-radius: 20px;
    gap: 1rem;
    padding: 1rem;
}

.ficha small{
    color: red;
}

.bloque_info{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 300px;
    gap: 1rem;
}

.bloque_info_div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bloque_info_div input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.bloque_info_div textarea{
    width: 300px;
    height: 60px;
}

.bloque_info_div select{
    width: 300px;
    height: 30px;
}

.boton{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}


.bloque_img{
    width: 500px;
}

.bloque_img form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ficha_img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 20px;
}

.ficha button{
    width: 150px;
    height: 30px;
    border: 0px;
    background-color: var(--color-bar-background-perfil);
    color: var(--color-letra-amarillo);
}


@media screen and (max-width: 1024px) {
    .bloque_img{
        width: 400px;
    }

}

@media screen and (max-width: 600px) {
    .ficha {
        flex-direction: column;
    }

    .formulario_img {
        display: flex;
        flex-direction: column;
    }

    .bloque_img{
        width: 300px;
    }

    .ficha_img {
        width: 100%;
        object-fit: cover;
        height: 300px;
        border-radius: 20px;
    }

}