
.formulario{
    display: flex;
    flex-direction: column;
}

.bloque_info_div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bloque_info_div input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.bloque_info_div textarea{
    width: 300px;
    height: 60px;
}

.bloque_info_div select{
    width: 300px;
    height: 30px;
}

.boton{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
