
.nav{
    padding: 1rem;
    background-color: var(--color-bar-background-perfil);
}

.nav__lista{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.nav__link{
    text-decoration: none;
    min-width: 120px;
    text-align: center;
    display: block;
    padding: 0.5rem;
    color: var(--color-bar-color-perfil);
}

.nav__link:hover{
    background-color: #fffae4;
    color:  var(--color-bar-background-perfil);
}

.boton__sesion{
    padding: 0.5rem;
    color: rgb(255, 215, 104);
    background-color: var(--color-bar-background-perfil);
}