.ficha {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    width: 950px;
    padding: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_div{
    display: flex;
}

.bloque_info {
    margin: 1rem;
    width: 450px;
}

.bloque_info form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bloque_info_div {
    display: flex;
    flex-direction: column;
}


.bloque_info_div input {
    height: 30px;
    border-radius: 10px;

}

.bloque_info_div select {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.bloque_info_div textarea {
    height: 60px;
    border-radius: 10px;
}

.bloque_img {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.ficha_img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 20px;
}

.bloque_info form{
    display: flex;
    flex-direction: column;
}

.bloque_info button{
    margin-top: 1.2rem;
}

.ficha button{
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    background-color: var(--color-fondo-azul);

    border-radius: 5px;
    width: 200px;
    height: 30px;
}

@media screen and (max-width: 1024px) {

    .ficha {
        width: 700px;
    }

    .formulario_img {
        display: flex;
        flex-direction: column;
    }

    .bloque_img{
        width: 300px;
    }

    .bloque_info{
        width: 350px;
    }
    
    .bloque_info_div select {
        width: 200px;
        height: 30px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    .ficha {
        width: 400px;
        flex-direction: column;
    }

    .formulario {
        flex-direction: column;
    }

    .formulario_div {
        flex-direction: column;
        align-items: center;
    }

    .formulario_img {
        display: flex;
        flex-direction: column;
    }

    .bloque_img{
        width: 300px;
    }

    .bloque_info{
        width: 350px;
    }
}