/* Variables globales */
:root {
  --background-color-home: ghostwhite;
  --color-home: rgb(12,28,181);
  --color-mascota: #e6b68b;
  --color-asociacion: #E1F8E4;
  --color-bar-background-perfil: rgba(95,104,195, 0.9);
  --color-bar-color-perfil: rgb(255, 255, 255);
  --color-letra-amarillo: rgb(255, 215, 104);
  --color-fondo-azul: rgba(95,104,195, 0.9);
  --color-fondo-rojo: rgba(194, 36, 36, 0.573);
  --font-size: 1.2rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}


/* Estilos generales */

html {
  box-sizing: border-box;
  background: rgb(245,198,119);
  background: -moz-linear-gradient(180deg, rgba(245,198,119,1) 60%, rgba(255,223,168,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(245,198,119,1) 60%, rgba(255,223,168,1) 100%);
  background: linear-gradient(180deg, rgba(245,198,119,1) 60%, rgba(255,223,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5c677",endColorstr="#ffdfa8",GradientType=1); 
}

*,
*::before,
*::after {
  box-sizing: inherit;

}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  font-size: var(--font-size);
  background-color: #fffff3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin: 0;
}
