/* Variables globales */
:root {
  --background-color-home:ghostwhite  ;
  --color-home: #171321;
  --color-mascota: #DFE9F0;
  --color-asociacion: #E1F8E4 ;
  --font-size: 1.2rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}


/* Estilos generales */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  font-size: var(--font-size);
  color: var(--color-home);
}

h1,
h2,
h3 {
    margin: 0;
}

