
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 300px;
    word-break: break-all;
}

.div_formulario{
    display: flex;
    flex-direction: column;
}

.div_formulario input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.div_formulario select {
    width: 300px;
    height: 30px;
}

.div_formulario textarea {
    width: 300px;
    height: 60px;
}

.boton{
    width: 200px;
    height: 30px;
    color: white;
    background-color: var(--color-fondo-azul);
}