.main{
    background-color: var(--background-color-home);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.seccion_asociaciones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem;
}