
.cartilla{
    background-color: var(--color-mascota);
    padding: 1rem;
    border-radius: 20px;
    width: 300px;
    word-break: break-all;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cartilla img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 20px;
}


.nombre{
    display: flex;
    justify-content: center;
}

.contenedor_botones{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
