
.main{
    background-color:var(--background-color-home);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.seccion_mascotas{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}
